.imagem-carrossel-um {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.imagem-carrossel-dois {
    object-fit: cover;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.card-largura {
    max-width: 18rem;
}

#titulo-cor-destaque,
.texto-cor-destaque {
    color: darkred;
}

.botao-cor-destaque {
    background-color: darkred;
    color: white;
}

.botao-cor-destaque:hover {
    background-color: #550000;
    color: white;
}

.borda-cor-destaque {
    border: 1px solid darkred;
}

.card-posicao-imagem {
    object-fit: cover;;
    height: 200px;
}